<h1>ADD Your product</h1>
<div class="addproducts">
    <form action="/api/products/add" method="post">
    <div class="df">   <label class="lmp" for="name">Name</label>
    <input class="imp" type="text" name="name" id="name" placeholder="Product name"></div>
 
    <br><br>
    <div class="df ">    <label class="lmp" for="img">Img</label>
    <input class="imp" type="text" name="img" id="img" placeholder="Product img"></div>

    <br><br>
    <div class="df">  <label class="lmp" for="price">Price</label>
    <input class="imp" type="number" name="price" id="price" placeholder="Product price">
    <input class="isub" type="submit"></div>
  
</form>
</div>
